*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  background-color: rgb(113, 113, 184);
}

.main{
  height: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin: 144px auto;
}
.main span{
  color: green;
  font-size: large;
  font-weight: bold;
  font-style:initial;
  margin-top: 22px;
  
}
.todo-form {
  background-color: aqua;
  padding: 2rem;
  width: 75%;

}
input{
  padding: 10px 50px;
  border-style: none;
  border-radius: 44px;
  width: 45%;
}
.input-field {
  padding:9px;
  border-radius: 5px;
  width: 70px;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-style: initial;
  
}
button:hover {
  background-color: green;
  transition: 1s ease-out;
}
.list-container{
  margin-top: 1rem;
  width: 80%;
  height: 18rem;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  width:88% ;
  margin-left: 2rem;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  display: flex;
justify-content: space-between;
width: 8rem;
}
#btn-1 {
 padding: 5px;
 cursor: pointer;
 background: aqua;
border-radius: 13px;
}
#btn-2 {
  padding: 5px;
  cursor: pointer;
  background: aqua;
border-radius: 13px;
 }