*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  background-color: rgb(113, 113, 184);
}

.main{
  height: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 144px auto;
}
.main span{
  color: green;
  font-size: large;
  font-weight: bold;
  font-style:initial;
  margin-top: 22px;
  
}
.todo-form {
  background-color: aqua;
  padding: 2rem;

}
input{
  padding: 10px 50px;
  border-style: none;
  border-radius: 44px;
}
.input-field {
  padding:9px;
  border-radius: 5px;
  width: 70px;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-style: initial;
  
}
button:hover {
  background-color: green;
  transition: 1s ease-out;
}
.list-container{
  background-color: aqua;
  width: 27.9rem;
  height: 18rem;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  width:22rem ;
  margin-left: 2rem;
}

li{
  display: flex
}